body{
	background-color:#f2f2f2;
}
img{
	width: 100px;
	height: 100px;
}
 *{
     	margin: 0;
     	padding: 0;
     }


    button{background-color: blue}
    
    #p1{ 
    "Times New Roman".Times,Serif; }
    #sbt{
     width: 540px;}

    #rst{
    	width: 540px;}

    	#jj{
    		background-color: #E6E6FA}

    		#td{background-color: #E6E6FA}

            #h{ 
            text-align: center; }

            #s1
            {width:350px;}